@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
    height: 200vh;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    padding: 20px 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;

}


.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    .curves {
        position: relative;
        display: block;
        width: calc(110% + 1.3px);
        height: 149px;
    }

    .shape-fill {
        fill: #ffffff;
    }

}


.head {
    position: relative;
    height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    overflow: hidden;
    color: white;

    .text {
        position: relative;
        width: 100%;
        height: 100%;
        top: 200px;
        left: 100px;

        h1 {
            font-size: 3.5rem;
            padding: 0 40px;
            letter-spacing: 10px;
        }

        p {
            font-size: 1.1rem;
            width: 40%;
        }

        .back {
            position: absolute;
            font-size: 11rem;
            padding: 0;
            top: -110px;
            left: 32px;
            opacity: 0.2;
            letter-spacing: 18.5px;
        }
    }



}

.section1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    padding: 10px 50px;

    .container {
        width: 50%;

        p {
            width: 90%;
        }

        h1 {
            letter-spacing: 10px;
            padding: 0 20px;
            font-size: 5rem;
        }
    }

    .img {
        width: 50%;
        max-width: 500px;

    }

}

.footer {
    min-height: 300px;
    max-height: 300px;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;

    span {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: white;
        padding: 30px 0;

        a {
            color: white;
        }
    }
}

.waves {
    aspect-ratio: 900/400;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/layered-waves-haikei.svg);
    position: absolute;
    bottom: 0;
    z-index: -2;

}

@media (max-width: 767px) {
    .custom-shape-divider-bottom .curves {
        width: calc(193% + 1.3px);
        height: 123px;
    }


    .footer {
        max-height: 150px;
    }

    .waves {
        aspect-ratio: 450/200;
        background-image: url(../assets/layered-waves-haikei-mobile.svg);
    }

    .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            height: auto;
            top: 0;
            left: 0;


            p {
                text-align: center;

                width: 90%;
            }

            .back {
                top: -130px;
                left: 0;
                width: 100%;
            }
        }
    }

    .section1 {
        flex-direction: column;
        padding: 10px 30px;

        .container {
            width: 100%;
        }
    }
}